@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: satoshiVariable;
  src: url("./assets/Satoshi-Variable.ttf");
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --shardeumBlue: #3a4cff;
  --shardeumOrange: #ff8743;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif,
    "Satoshi", "DM Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  word-break: keep-all;
  color: black;
}

.wrapper {
  background: white;
  background-size: 100%;
}

.course-border {
  background: linear-gradient(269.78deg, #ff4400 0%, #be1d92 36.28%, #8d00ff 63.24%, #0406a5 101.62%);
  padding: 3px;
  border-radius: 10px;

  /* border-image-source: linear-gradient(269.78deg, #ff4400 0%, #be1d92 36.28%, #8d00ff 63.24%, #0406a5 101.62%); */
}
