@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "helvetica-neue-bold";
  src: url("./assets/HelveticaNeueLTProBdCn.otf");
  font-display: swap;
}

@font-face {
  font-family: "helvetica-neue-md";
  src: url("./assets/HelveticaNeueLTProMd.otf");
  font-display: swap;
}

@font-face {
  font-family: "helvetica-neue-roman";
  src: url("./assets/HelveticaNeueLTProRoman.otf");
  font-display: swap;
}

@font-face {
  font-family: "gilroy-medium";
  src: url("./assets/Gilroy-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "gilroy-semibold";
  src: url("./assets/Gilroy-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "gilroy-bold";
  src: url("./assets/Gilroy-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "orbitron-medium";
  src: url("./assets/Orbitron-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("./assets/Montserrat-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("./assets/Montserrat-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("./assets/Montserrat-Bold.ttf");
  font-display: swap;
}


.animate-scale {
  animation: scale 1s infinite alternate;
  transform-origin: center;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --shardeumBlue: #3a4cff;
  --shardeumOrange: #ff8743;
  --shardeumPurple: rgba(195, 200, 255, 1);
  /* font-family: Arial, Helvetica, sans-serif; */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif,
    "DM Sans", "helvetica-neue-lt-pro-2", "helvetica-neue-bold", "helvetica-neue-roman", "helvetica-neue-md";
  /* font-family: "helvetica-neue-roman"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(7, 7, 7, 1);
  word-break: keep-all;
  color: white;
}

.wrapper {
  background-size: 100%;
}

.course-border {
  background: linear-gradient(269.78deg, #ff4400 0%, #be1d92 36.28%, #8d00ff 63.24%, #0406a5 101.62%);
  padding: 3px;
  border-radius: 10px;

  /* border-image-source: linear-gradient(269.78deg, #ff4400 0%, #be1d92 36.28%, #8d00ff 63.24%, #0406a5 101.62%); */
}


/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  width: 0;
  /* Hide vertical scrollbar */
  height: 8px;
  /* Set a height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  display: none;
  /* Hide the horizontal scrollbar thumb */
}

/* Show vertical scrollbar */
body {
  overflow-x: hidden;
  /* Disable horizontal scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

/* Optionally style the vertical scrollbar if needed */
body::-webkit-scrollbar-thumb {
  background: #888;
  /* Customize scrollbar thumb color */
  border-radius: 4px;
  /* Customize scrollbar thumb shape */
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Customize scrollbar thumb color on hover */
}

.leaderboard_title,
.profile_header {
  background-image: url('https://shardeum-university-storage.blr1.cdn.digitaloceanspaces.com/Sharderum-Frontend-Assets/backdrop_heading.png');
}

.background_dots {
  background-image: url('https://shardeum-university-storage.blr1.cdn.digitaloceanspaces.com/Sharderum-Frontend-Assets/submission_bg.svg');
}

.table_head {
  background-image: url("https://shardeum-university-storage.blr1.cdn.digitaloceanspaces.com/Sharderum-Frontend-Assets/table_head.png");
}

.top_3 {
  background-image: url('https://shardeum-university-storage.blr1.cdn.digitaloceanspaces.com/Sharderum-Frontend-Assets/confetti.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(2.5rem)
}


.noice_bg {
  background-image: url('./assets/noice_img.png');
  background-repeat: repeat;
  background-size: cover;
}