
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "helvetica-neue-bold";
  src: url("./assets/HelveticaNeueLTProBdCn.otf");
  font-display: swap;
}

@font-face {
  font-family: "helvetica-neue-md";
  src: url("./assets/HelveticaNeueLTProMd.otf");
  font-display: swap;
}

@font-face {
  font-family: "helvetica-neue-roman";
  src: url("./assets/HelveticaNeueLTProRoman.otf");
  font-display: swap;
}

.animate-scale {
  animation: scale 1s infinite alternate;
  transform-origin: center;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --shardeumBlue: #3a4cff;
  --shardeumOrange: #ff8743;
  --shardeumPurple: rgba(195, 200, 255, 1);
  /* font-family: Arial, Helvetica, sans-serif; */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif,
    "DM Sans", "helvetica-neue-lt-pro-2", "helvetica-neue-bold", "helvetica-neue-roman", "helvetica-neue-md";
  /* font-family: "helvetica-neue-roman"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(252, 250, 239, 1);
  word-break: keep-all;
  color: black;
}

.wrapper {
  background-size: 100%;
}

.course-border {
  background: linear-gradient(269.78deg, #ff4400 0%, #be1d92 36.28%, #8d00ff 63.24%, #0406a5 101.62%);
  padding: 3px;
  border-radius: 10px;

  /* border-image-source: linear-gradient(269.78deg, #ff4400 0%, #be1d92 36.28%, #8d00ff 63.24%, #0406a5 101.62%); */
}
