.courseAcc {
  .AccordionItem {
    margin-top: 24px;
    border-radius: 8px;
    overflow: hidden;
    // background-color: #6e7bfc;
  }

  .AccordionHeader {
    // padding: 8px 12px;
    cursor: pointer;
  }

  // .AccordionHeader:hover {
  //   background-color: rgb(213, 216, 247);
  // }
  // .AccordionHeader::active {
  //   background-color: rgb(184, 189, 241);
  // }

  .AccordionPanel {
    padding: 0px 12px 12px;
  }
}
