.DataCard{
    width: 25%;
    height: 240px;
    background-color: white;
    margin: 10px;
    border: 2px solid var(--shardeum-blue);
    border-radius: 20px;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.15);
    grid-area: datacard;
    min-width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
}

.DataCard:hover {
    transform: scale(1.05); /* Scale up the card slightly on hover */
}

.datacardno{
    font-size: 16px;
    align-self: center;
    margin-top: 40px;
}